.button {
    background-color: #ff0000; 
    border-radius: 10px;
    border: black;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;    
  }
 